
$primary-normal: #000000;
$primary-dark: #040f1a;
$primary-light: #0c2135;

$secondary-normal: #090d11;
$secondary-dark: #06090c;
$secondary-light: #090d11;

$black-normal: #232224;
$black-dark: #161617;
$black-light: #353436;

$white-normal: #fff;
$white-dark: #edeaef;
$white-light: #fefbff;

$verde-normal: #386b06;
$verde-dark: #386b06;
$verde-light: #386b06